.flexbox-container {

   height: 100%;
   margin-left: auto;
   margin-right:auto;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -ms-flex-align: center;
   -webkit-align-items: center;
   -webkit-box-align: center;
   align-items: center;
   
}